[Settings]
input_csv = input_data/example-data.csv
input_shapefile = input_data/input_map
output_results = output_data/output_results
output_shapefile = output_data/map
output_plot_rssi = output_data/plot_rssi
output_plot_perc = output_data/plot_perc
port = /dev/pts/2
baudrate = 115200
serial_timeout = 10
measurement_timeout = 60
n_measurements_per_point = 100
tick_spacing = 10